<!doctype html>
<html ng-app="RepoExplorer">
<head>
	<meta charset="utf-8" />
	<title>RepoExplorer</title>
	<style>
		#repos {
			float: left;
			width: 50%;
		}
		#repo {
			float: right;
			width: 50%;
		}
		[ng-cloak] {
			display: none;
		}
	</style>
</head>
<body ng-controller="RepoCtrl" ng-cloak>

	<h1>Repo Explorer</h1>

	<div id="repos">

		<form ng-submit="loadReposAndOwner()">
			Username on Github:
			<input type="text" ng-model="form.username" />
			<input type="submit" value="Go" />
			<br />
			Recent:
			<span ng-repeat="entry in usernameHistory track by $index">
				<a href="#" ng-click="loadReposAndOwner(entry)">{{ entry }}</a>
			</span>
		</form>

		<div>
			Owner: {{ owner.name }}<br />
			<img src="{{owner.avatar_url}}" width="100" />
		</div>

		<ul>
			<li ng-repeat="repo in repos">
				<a href="#" ng-click="showRepo(repo)">
					{{ repo.name }}
					{{ repo.fork ? '&#9282;' : '' }}
				</a>
			</li>
		</ul>

	</div>

	<div id="repo">
		<h2>{{ repo.name }} {{ repo.fork ? '&#9282;' : '' }}</h2>
		<ul>
			<li ng-repeat="i in [1,2,3,4,5]">Repo details {{ $index + 1 }}</li>
		</ul>
	</div>

	<script src="angular.min.js"></script>
	<script src="app.js"></script>

</body>
</html>